@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700&display=swap');

button:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

body{
  background-color: #FAFAFA;
}

.white-space{
  height: 11.2vh;
  background-color: #FAFAFA;
}

.dark-space{
  height: 11.2vh;
  background-color: black;
}

.container{
  max-width: 70vw !important;
}

h1{
  font-size: 500%;
}

hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid white;
  margin: 1em 0;
  padding: 0;
}

h6{
  font-size: 0.6em !important;
}

.navbar{
  top: 0;
  left: 0;
  background-color: white;
  position: fixed !important;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 100;
  padding: 0px;
  height: 11.2vh;
}

.card{
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.40);
  border-color: #E6E6E6 !important;
}

.navbar .container{
  padding: 0px !important;
  height: 100%;
}

.navbar button{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #666666;
  background-color: white;
  width: 100px;
  float: right;
  height: 100%;
  margin-left: 5vw;
}

.navbar button:hover{
  color: #0095E6;
}

#home-button{
  display: block;
  height: 100%;
  width: auto;
  float: left;
}

nav{
  width: 100%;
  height: 100%;
}

.section{
  height: 89vh;
}

#carousel-section{
  background-color: black;
}

#carousel-section .item {
  height: 100vh;
}

#carousel-section .item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#services-section{
  background-color: #FAFAFA !important;
  text-align: center;
}

#services-section h2{
  font-family: "Montserrat";
  font-weight: 700;
  color: #0095E6;
}


#services-section h3{
  font-family: "Roboto";
  font-weight: 400;
  color: #808080;
}

#services-section .card{
  text-align: left;
}

#service-card-1{
  border-color: #002940 !important;
}

#service-card-2{
  border-color: #007ABA !important;
}

#service-card-3{
  border-color: #00A6FF !important;
}

#service-card-1 .card-body{
  background-color: #002940;
  border-color: #002940 !important;
}

#service-card-2 .card-body{
  background-color: #007ABA;
  border-color: #007ABA !important;
}

#service-card-3 .card-body{
  background-color: #00A6FF;
  border-color: #00A6FF !important;
}

#services-section .card h5{
  font-family: "Montserrat";
  font-weight: 700;
  color: white;
}

#services-section .card p{
  font-family: "Roboto";
  font-weight: 300;
  color: white;
}

#services-section .card a{
  font-family: "Montserrat";
  font-weight: 700;
  color: white;
}

#services-section .card a:hover{
  color: white;
}

#services-section .card .card-header{
  background-color: black;
  height: 17vh;
  border-color: black !important;
}

#services-section .card .card-body{
  padding-top: 5vh;
}

#call-section{
  text-align: center;
  background-color: black !important;
}

#call-section h2{
  font-family: "Montserrat";
  font-weight: 700;
  color: white;
}

#contact-section{
  background-color: #FAFAFA;
}

#contact-section h2{
  font-family: "Montserrat";
  font-weight: 700;
  color: #808080;
}

#contact-section button{

}

footer{
  background-color: #E6E6E6;
  padding: 1rem;
  color: #666666;
  font-weight: 700;
}

#footer-second-column{
  text-align: right;
}

#footer-first-column h6{
  color: #666666;
  height: 0.6em;
}

#footer-inicio{
  color: #00A6FF !important;
  height: 0.6em;
}

#footer-footer h6{
  color: #666666 !important;
  height: 0.6em;
}

#footer-footer h6:hover{
  color: #00A6FF !important;
}

footer h6:hover{
  color: #0095E6;
}

footer button{
  background-color: #666666 !important;
  border: none !important;
  font-size: 0.6em !important;
  vertical-align: top !important;
  padding: 0.2em !important;
}

footer button:hover{
  background-color: #0095E6 !important;
}

.icon{
  width: 50px;
  height: 50px;
  background-image: url("images/pidginbw.svg");
  background-size: 100%;
}

.icon:hover{
  background-image: url("images/pidgin_hover.svg");
}

#facebook{
  width: 18px;
  height: 18px;
  margin: 3px !important;
  background-image: url("images/facebook_iconbw.svg");
  background-size: 100%;
}

#facebook:hover{
  background-image: url("images/facebook_icon.svg");
}

#instagram{
  width: 18px;
  height: 18px;
  margin: 3px !important;
  background-image: url("images/instagram_iconbw.svg");
  background-size: 100%;
}

#instagram:hover{
  background-image: url("images/instagram_icon.svg");
}

#linkedin{
  width: 18px;
  height: 18px;
  margin: 3px !important;
  background-image: url("images/linkedin_iconbw.svg");
  background-size: 100%;
}

#linkedin:hover{
  background-image: url("images/linkedin_icon.svg");
}

#twitter{
  width: 18px;
  height: 15px;
  margin: 3px !important;
  background-image: url("images/twitter_iconbw.svg");
  background-size: 100%;
}

#twitter:hover{
  background-image: url("images/twitter_icon.svg");
}

#footer-sn-icons{
  text-align: right;
}

.page-title{
  background-color: #005380;
  color: white;
  height: 22vh;
  font-family: "Montserrat";

}

.page-title .container{
  padding-top: 3vh;
}

.page-title h1{
  font-weight: 700 !important;
  vertical-align: center;
}

#contact-page-section{
  color: #808080;
}

#contact-page-section .card-body{
  background-color: #E6E6E6;
}

#facebook-contact{
  width: 28px;
  height: 28px;
  margin: 5px !important;
  background-image: url("images/facebook_iconbw.svg");
  background-size: 100%;
}

#facebook-contact:hover{
  background-image: url("images/facebook_icon.svg");
}

#instagram-contact{
  width: 28px;
  height: 28px;
  margin: 5px !important;
  background-image: url("images/instagram_iconbw.svg");
  background-size: 100%;
}

#instagram-contact:hover{
  background-image: url("images/instagram_icon.svg");
}

#linkedin-contact{
  width: 28px;
  height: 28px;
  margin: 5px !important;
  background-image: url("images/linkedin_iconbw.svg");
  background-size: 100%;
}

#linkedin-contact:hover{
  background-image: url("images/linkedin_icon.svg");
}

#twitter-contact{
  width: 28px;
  height: 23px;
  margin: 5px !important;
  background-image: url("images/twitter_iconbw.svg");
  background-size: 100%;
}

#twitter-contact:hover{
  background-image: url("images/twitter_icon.svg");
}


@media (max-width: 1015px){
  h1{
    font-size: 300%;
  }

  h2{
    font-size: 150%;
  }
}

@media (max-width: 800px){
  .navbar nav{
    display: none;
  }

  .section{
    height: 1100px;
  }

  .section img{
    margin-top: 50px;
  }

  .container{
    width: 100vw !important;
  }
}
