@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700&display=swap');

button:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

body{
  background-color: #FAFAFA;
}

.white-space{
  height: 10vh;
  background-color: #FAFAFA;
}

.dark-space{
  height: 10vh;
  background-color: black;
}

h1{
  font-size: 500%;
}

hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid white;
  margin: 1em 0;
  padding: 0;
}

h6{
  font-size: 0.6em !important;
}

.navbar{
  top: 0;
  left: 0;
  background-color: white;
  position: fixed !important;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 100;
  padding: 0px;
  height: 5em;
}

.card{
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.40);
  border-color: #E6E6E6 !important;
}

.navbar .container{
  padding: 0px !important;
  height: 100%;
}

.navbar button{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #666666;
  background-color: white;
  float: right;
  height: 100%;
  margin-left: 5vw;
}

.navbar button:hover{
  color: #0095E6;
}

#home-button{
  display: block;
  height: 100%;
  width: auto;
  float: left;
}

nav{
  width: 100%;
  height: 100%;
}

#carousel-section .item img {
  position: absolute;
  top: 0;
  left: 0;
}

.carousel-caption{
  text-align: left !important;
  padding-bottom: 15%;
}

#services-section{
  background-color: #FAFAFA !important;
  text-align: center;
}

#services-section h2{
  font-family: "Montserrat";
  font-weight: 700;
  color: #0095E6;
}


#services-section h3{
  font-family: "Roboto";
  font-weight: 400;
  color: #808080;
}

#services-section .card{
  text-align: left;
}

#service-card-1{
  border-color: #002940 !important;
}

#service-card-2{
  border-color: #007ABA !important;
}

#service-card-3{
  border-color: #00A6FF !important;
}

#service-card-1 .card-body{
  background-color: #002940;
  border-color: #002940 !important;
}

#service-card-2 .card-body{
  background-color: #007ABA;
  border-color: #007ABA !important;
}

#service-card-3 .card-body{
  background-color: #00A6FF;
  border-color: #00A6FF !important;
}

#services-section .card h5{
  font-family: "Montserrat";
  font-weight: 700;
  color: white;
}

#services-section .card p{
  font-family: "Roboto";
  font-weight: 300;
  color: white;
}

#services-section .card a{
  font-family: "Montserrat";
  font-weight: 700;
  color: white;
}

#services-section .card a:hover{
  color: white;
}

#service-card-1 .card-header{
  background-image: url("images/CardCommu.png");
  background-size: 100%;
}

#service-card-2 .card-header{
  background-image: url("images/CardConsult.png");
  background-size: 100%;
}

#service-card-3 .card-header{
  background-image: url("images/CardAnalytics.png");
  background-size: 100%;
}

#services-section .card .card-header{
  height: 8em;
}

#services-section .card .card-body{
  padding-top: 2em;
}

#call-section{
  text-align: center;
  background-image: url("images/CTA.png");
  background-size: 100%;
  padding: 2em;
}

#call-section h2{
  font-family: "Montserrat";
  font-weight: 700;
  color: white;
}

#contact-section{
  background-color: #FAFAFA;
}

#contact-section .card-body{
  background-color: #E6E6E6;
}

#contact-section h2{
  font-family: "Montserrat";
  font-weight: 700;
  color: #808080;
}

#contact-section button{

}

footer{
  background-color: #E6E6E6;
  padding: 1rem;
  color: #666666;
  font-weight: 700;
}

#footer-second-column{
  text-align: right;
}

#footer-first-column h6{
  color: #666666;
  height: 0.6em;
}

#footer-inicio{
  color: #00A6FF !important;
  height: 0.6em;
}

#footer-footer h6{
  color: #666666 !important;
  height: 0.6em;
}

#footer-footer h6:hover{
  color: #00A6FF !important;
}

footer h6:hover{
  color: #0095E6;
}

footer button{
  background-color: #666666 !important;
  border: none !important;
  font-size: 0.6em !important;
  vertical-align: top !important;
  padding: 0.2em !important;
}

footer button:hover{
  background-color: #0095E6 !important;
}

.icon{
  width: 50px;
  height: 50px;
  background-image: url("images/pidginbw.svg");
  background-size: 100%;
}

.icon:hover{
  background-image: url("images/pidgin_hover.svg");
}

#facebook{
  width: 18px;
  height: 18px;
  margin: 3px !important;
  background-image: url("images/facebook_iconbw.svg");
  background-size: 100%;
}

#facebook:hover{
  background-image: url("images/facebook_icon.svg");
}

#instagram{
  width: 18px;
  height: 18px;
  margin: 3px !important;
  background-image: url("images/instagram_iconbw.svg");
  background-size: 100%;
}

#instagram:hover{
  background-image: url("images/instagram_icon.svg");
}

#linkedin{
  width: 18px;
  height: 18px;
  margin: 3px !important;
  background-image: url("images/linkedin_iconbw.svg");
  background-size: 100%;
}

#linkedin:hover{
  background-image: url("images/linkedin_icon.svg");
}

#twitter{
  width: 18px;
  height: 15px;
  margin: 3px !important;
  background-image: url("images/twitter_iconbw.svg");
  background-size: 100%;
}

#twitter:hover{
  background-image: url("images/twitter_icon.svg");
}

#footer-sn-icons{
  text-align: right;
}

.page-title{
  background-color: #005380;
  color: white;
  height: 10em;
  font-family: "Montserrat";

}

.page-title .container{
  padding-top: 2.5%;
}

.page-title h1{
  font-weight: 700 !important;
  vertical-align: center;
}

#contact-page-section{
  color: #808080;
}

#contact-page-section .card-body{
  background-color: #E6E6E6;
}

#facebook-contact{
  width: 28px;
  height: 28px;
  margin: 5px !important;
  background-image: url("images/facebook_iconbw.svg");
  background-size: 100%;
}

#facebook-contact:hover{
  background-image: url("images/facebook_icon.svg");
}

#instagram-contact{
  width: 28px;
  height: 28px;
  margin: 5px !important;
  background-image: url("images/instagram_iconbw.svg");
  background-size: 100%;
}

#instagram-contact:hover{
  background-image: url("images/instagram_icon.svg");
}

#linkedin-contact{
  width: 28px;
  height: 28px;
  margin: 5px !important;
  background-image: url("images/linkedin_iconbw.svg");
  background-size: 100%;
}

#linkedin-contact:hover{
  background-image: url("images/linkedin_icon.svg");
}

#twitter-contact{
  width: 28px;
  height: 23px;
  margin: 5px !important;
  background-image: url("images/twitter_iconbw.svg");
  background-size: 100%;
}

#twitter-contact:hover{
  background-image: url("images/twitter_icon.svg");
}

#check-container{
  max-width: 350px;
}

#check-container label{
  font-size: 10px;
}

#submit-container{
  text-align: right;
}

.form-check-input{
  margin-left: 0px !important;
}

.form-check-label{
  margin-left: 2em !important;
}

.main-button{
  background-color: #007ABA !important;
}

.main-button{
  background-color: #007ABA !important;
}

#services-section-subtitle{
  color: #808080;
  font-size: 1em;
}

#solutions-page-section .nav{
  margin-bottom: 0px !important;
  width: 100%;
}

#solutions-page-section h5{
  font-weight: 700;
  font-family: "Montserrat";
  color: #007ABA;
}

#solutions-card1{
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#solutions-card2{
  color: 
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#solutions-card3{
  color: 
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#solutions-page-section .nav-link{
  transition: 0.3s;
  background-color: #002940;
  color: white;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

#solutions-page-section .nav-link:hover{
  transition: 0.3s;
  background-color: #0095E6;
}

#solutions-page-section .nav-link.active{
 background-color: #00A6FF;
}

#solutions-card1{
  padding: 2em;
  background-color: #00A6FF;
  border-color: #00A6FF !important;
}

#solutions-card2{
  padding: 2em;
  background-color: #00A6FF;
  border-color: #00A6FF !important;
}

#solutions-card3{
  padding: 2em;
  background-color: #00A6FF;
  border-color: #00A6FF !important;
}

#solutions-card1 .card-body{
  position: relative;
  padding-bottom: 0px;
}

fade {
    position: absolute;
    bottom: 0px;

    display: block;
  
    width: 95%;
    height: 5em;
  
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 80%);
}

.modal-title{
  font-family: "Montserrat";
  font-weight: 700;
  color: #007ABA;
}

.body2{
  margin-top: -1em;
  padding-top: 0px;
  padding-bottom: 1em !important;
}

.btn-primary{
  background-color: #007ABA !important;
}

.btn-primary:hover{
  background-color: #0095E6 !important;
}


@media (max-width: 1015px){
  h1{
    font-size: 300%;
  }

  h2{
    font-size: 150%;
  }
}

@media (max-width: 800px){
  .navbar nav{
    display: none;
  }

  .section{
    height: 1100px;
  }

  .section img{
    margin-top: 50px;
  }

  .container{
    width: 100vw !important;
  }
}